* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    color: #747373;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
}

.nav-section {
    padding-top: 40px;
    width: 100%;

}

.container {
    width: 94%;
    margin: auto;
}



.nav-logo {
    height: 50px;
    width: 190px;


}

.nav-logo img {
    height: 47px;
    width: 190px;
}

.item-list {
    width: 980px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -45px;

}

.nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    width: 725px;

}

.nav-list .nav-item a {
    color: black;
    font-size: 1.1rem;
    font-weight: 700;
    padding-right: 30px;
}

.nav-list,
.nav-item a:hover {
    color: #57b947;

}

#active-color {
    color: #57b947;
}


.request-btn {
    background-color: #105e65;
    border-radius: 7px;
}

.request-btn:hover {
    background-color: #1cbac8;

}

.request-btn p {
    font-size: 1rem;
    color: white;
    padding: 10px 35px;
    letter-spacing: 1.3px;
}



/* Hero Section */

.hero-partner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-hero {
    width: 45%;
    padding-top: 50px;
}


.left-hero h1 {
    font-size: 4rem;
    color: black;
}


.left-hero p {
    font-size: 1rem;
    padding-top: 15px;
    line-height: 1.5;
    letter-spacing: 1px;
    font-weight: 100;
}

.right-hero {
    width: 40%;
}

.right-hero img {
    width: 70%;

}

.start-btn {
    background-color: #57b947;
    width: 190px;
    padding: 9px 13px;
    margin-top: 50px;
    border-radius: 7px;
}

.start-btn a {
    color: white;
    font-size: 1.3rem;
    padding-left: 20px;
}


/* ********      HubSpot Content Hub Services     **********  */

.content-hub-section h1 {
    color: black;
    text-align: center;
    font-size: 2rem;
    padding: 80px;

}

.hubspot-services {
    display: flex;
    justify-content: center;
    align-items: center;

}

.content-box {
    border: 1px solid rgb(231, 228, 228);
    box-shadow: 0 5px 20px 0 rgb(0, 0, 0, 0.2);
    text-align: center;
    position: relative;
    margin-left: 30px;
    transition: all .4s ease-in-out;
 

}


.content-hub {
    padding: 30px 10px 60px 10px;
    position: relative;


}

.content-box a {
    color: black;
    transition: all 0.4s ease-in-out;

}

.content-box:hover {
    background-color: #57b947;
    color: white;
    

}

a:hover {
    color: white;
}



.content-image {
    padding: 20px 0px;


}

.content-image img {
    width: 50px;


}


.content-hover-image {
    margin-top: -74px;
    padding-bottom: 20px;


}

.content-hub-section .content-box :not(:hover) .content-hover-image {
    display: none;

}


.content-hover-image img {
    width: 50px;

}

.content-head {
    padding: 10px 0px;
}

.content-box .content-head p {
    font-weight: 600;
    font-size: 1.2rem;
}

.content-box p {
    font-size: 1.05rem;
    padding: 10px 0px;
    font-weight: 100;
    letter-spacing: 1.2px;
    line-height: 1.5rem;
}




.top-line,
.bottom-line {
    height: 0.2rem;
    position: absolute;
    right: -50px;
    width: calc(100% + 110px);
    background: linear-gradient(90deg, rgba(149, 255, 156, 0), #0ec85e, rgba(149, 255, 156, 0));
    
    }

.top-line {
    top: 0;
    
}

.content-hub-section .content-box :not(:hover) .top-line {
    display: none;
    

}

.bottom-line {
    bottom: 0;

}

.content-hub-section .content-box :not(:hover) .bottom-line {
    display: none;

}

.left-line,
.right-line {
    height: calc(100% + 110px);
    width: 0.2rem;
    position: absolute;
    top: -75px;
    background: linear-gradient(180deg, rgba(149, 255, 156, 0), #0ec85e, rgba(149, 255, 156, 0));

}

.left-line {
    left: 0;

}

.content-hub-section .content-box :not(:hover) .left-line {
    display: none;

}


.right-line {
    right: 0;
}

.content-hub-section .content-box :not(:hover) .right-line {
    display: none;

}




/* ********      Our Service Packages for HubSpot Content Hub     **********  */



.service-packages-section{
    margin-top: 50px;
    max-width: 1400px;
    background-color: black;
    height: 100%;
}


.service-packages-section h1{
    text-align: center;
    color: white;
    font-size: 2.2rem;
    padding-top: 50px;
}

.service-packages-hubstop{
    position: relative;
    margin-top: 50px;
}

/* service-packages-bg */
.service-packages-bg{
    height: auto;
    width: 100%;
   
}

.background-images{
   
    height: 100%;
    width: 100%;
    opacity: 0.2;
}


/*   service-packages-scrollers */

.service-packages-scrollers{
    display: flex;
}




/*   service-package-rightscroll */

.service-package-rightscroll{
    position: sticky;
    top: 0;
    right: 0;
    width: 23%;
    display: flex;
    flex-direction: column;
    border-left: 1px solid green;
    padding: 150px 20px 0px 10px;
    height: 100vh;

}
.service-package-rightscroll a{
    color: white;
    margin-bottom: 50px;
    font-size: 1.4rem;
    padding: 0px 0px 0px 10px;
    position: static;
    

}


/*   service-package-leftscroll */
.left-services{
    width: 77%;
}

.leftscroll{
    position: absolute;
    top: 0;
    left: 0;
    
    padding: 150px 20px 0px 30px;
}

.service-package-leftscroll, .ideal-for, .example p{
    color: white;
    line-height: 1.7;
}
.service-package-leftscroll h3{
    color: #0ec85e;
    font-size: 1.7rem;
    padding: 30px 0px 10px 0px;


}

.service-package-leftscroll h2{
    font-size: 2.4rem;
    padding-bottom: 20px;
}

.ideal-for li, .example li{
    padding-left: 40px;
}

.web-migration {
    display: flex;
    padding: 20px 10px 20px 10px;
    width: 77%;
}   

.web-mig-example{
    width: 50%;

}





.web-mig-feature{
    width: 50%;
    padding: 0px 0px 0px 35px;

}

.web-mig-feature h3{
    padding: 0px 0px 20px 0px;
    font-size: 1.48rem;

}

.web-mig-feature li{
    padding: 10px 0px 1% 0px;
   
}

/*


.web-mig-feature ul li::before{
    color: #57b947;
    content: "\f058";
    font-family: FontAwesome;
    left: -25px;
    position: absolute;
}


*/



/* ********      HubSpot Content Hub Services     **********  */






/* ********      HubSpot Content Hub Services     **********  */



/* ********      HubSpot Content Hub Services     **********  */